/* Container principal */
.page-box { 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Coluna do Formulário */
.register-box {
    width: 45%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 5vh; 
    align-items: center;
    z-index: 2;
}

.register-wrapper {
    width: 100%;
    max-width: 460px;
    padding: 1rem 2rem;
}

.auth-title {
    font-family: 'Courier New', monospace;
    color: var(--secondary-color);
    font-weight: 600; 
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;
}

.input-group {
    margin-bottom: 0.8rem;
}

.form-login label {
    font-size: 0.95rem;
    margin-bottom: 1px;
}

.form-login input, .form-login select {
    height: 38px;
    margin-top: 4px;
}

.form-login input:focus, 
.form-login select:focus {
    border: 2px solid var(--secondary-color);
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.img-box {
    width: 60%; 
    height: 100%;
    background-color: #d31919;
    position: relative;
    margin-left: -5vw; 
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/popcorn.png');
    background-size: 70px;
    background-repeat: repeat;
    
    filter: 
        brightness(0) 
        saturate(100%) 
        invert(85%) 
        sepia(67%) 
        saturate(2500%) 
        hue-rotate(10deg) 
        contrast(120%)
        drop-shadow(1px 1px 0px rgba(0,0,0,0.3));
}

/* Botão Finalizar */
button[type="submit"] {
    width: 100%;
    height: 42px;
    background-color: #d2d2d2;
    color: black;
    border: none;
    border-radius: 6px;
    margin-top: 1.5rem;
    cursor: pointer;
}

button[type="submit"]:not(:disabled) {
    background-color: var(--secondary-color);
    color: white;
}

.form-row {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.form-col {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.form-login input, 
.form-login select,
.input-group input,
.input-group select {
    font-family: 'Arial', sans-serif !important;
    border-radius: 12px !important; 
    height: 42px !important;
    border: 1px solid #ccc !important;
    font-size: 0.95rem !important;
    padding: 5px;
}


.input-group input, 
.input-group select {
    width: 100%;
    height: 42px; 
    border: 1px solid #ccc;
    border-radius: 12px ; 
    padding-left: 20px !important;  
    padding-right: 15px !important;
    box-sizing: border-box;
    font-size: 0.95rem;
    outline: none;
    appearance: none;
    background-color: white;
    transition: border-color 0.2s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 10px; 
    cursor: pointer;
}

input[list]::-webkit-calendar-picker-indicator {
    display: none !important; 
}

.input-group input:focus, 
.input-group select:focus {
    border: 2px solid var(--secondary-color);
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.section-title {
    font-size: 1rem;
    color: #666;
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
}

.required {
    color: var(--danger, #ff4d4d);
    margin-left: 2px;
    font-weight: bold;
}

