name: Spring Boot CI/CD

on:
    push:
        branches:
            - main
        paths:
            - 'backend/**'
    pull_request:
        branches:
            - main
        paths:
            - 'backend/**'

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./backend

        steps:
            - name: Checkout do código
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Configurar Java 21
              uses: actions/setup-java@v4
              with:
                distribution: 'temurin'
                java-version: '21'
                cache: 'maven'

            - name: Compilar, testar e analisar no SonarCloud
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              run: mvn clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dspring.profiles.active=test

            - name: Relatório de cobertura de testes
              uses: actions/upload-artifact@v4
              with:
                name: jacoco-report
                path: backend/target/site/jacoco/