name: Angular CI/CD

on:
    push:
        branches: [main, develop]
        paths:
            - 'frontend/**'
    pull_request:
        branches: [main, develop]
        paths:
            - 'frontend/**'

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
    
        defaults:
            run:
                working-directory: ./frontend

        steps:
            -   name: Code Checkout
                uses: actions/checkout@v4
            
            -   name: Install Node.js
                uses: actions/setup-node@v3
                with:
                    node-version: 20
                    cache: 'npm'
                    cache-dependency-path: frontend/package-lock.json

            -   name: Install dependencies
                run: npm ci

            -   name: Run Tests
                run: npm test

            -   name: Build Angular Project
                run: npm run build --configuration=production